{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["transform-class-properties", "syntax-dynamic-import", "transform-object-rest-spread", "babel-plugin-styled-components"],
  "env": {
    "server": {
      "plugins": ["dynamic-import-node"]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}